<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Renta Coworking App</title>
</head>
<body>
    <header>
        <div class="container-fluid text-center py-2">
            <h1>Coworking Application</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <th>Nombre</th>
                        <th>Paquete</th>
                        <th>Fecha de contratacion</th>
                        <th>Fecha de finalizacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Prueba</th>
                        <th>Prueba</th>
                        <th>Prueba</th>
                        <th>Prueba</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-around mb-4">
            <div class="col-3">
                <div class="card">
                    <img class="card-image img-fluid" src="../res/img/coworkingImg.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ver los paquetes disponibles</h5>
                        <p class="card-text">Revisa la información de todos los paquetes disponibles dentro de los diferentes espacios de Coworking</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success">Ver paquetes </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-image img-fluid" src="../res/img/coworkingImg.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ver los paquetes disponibles</h5>
                        <p class="card-text">Revisa la información de todos los paquetes disponibles dentro de los diferentes espacios de Coworking</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success">Ver paquetes </a>
                    </div>
                </div>
            </div><div class="col-3">
                <div class="card">
                    <img class="card-image img-fluid" src="../res/img/coworkingImg.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ver los paquetes disponibles</h5>
                        <p class="card-text">Revisa la información de todos los paquetes disponibles dentro de los diferentes espacios de Coworking</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success">Ver paquetes </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>